.topBar{
    background-color: #f2f2f2;
    height: 32px;
}
.contentBar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1400px;
}
.topBarContent{
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
}
.topBarContent button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
}
.topBarContent a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    background-color: transparent;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}

.topBarContent button:hover, a:hover{
    background-color: #e6e6e6;
}

.midBar{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
    margin-top: 16px;
    max-width: 1400px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.logoItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 200px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.logoItem a svg{
    height: 60px;
}

.searchItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 344px;
}

.innerSearch{
    border: 1px solid black;
}


.innerSearch input{
    width: 344px;
    height: 25px;
    border: none;

}

.innerSearch input:focus-visible{
    border: none;
}

.accountItem{
    display: flex;
    flex-basis: 160px;
    margin-right: 8px;
    min-width: 48px;
    justify-content: center;
    align-items: center;
}

.cartItem{
    display: flex;
    flex-basis: 133px;
    justify-content: flex-start;
    align-items: center;

}

.accountItem a, .cartItem a{
    text-decoration: none;
}