input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#product b{
    color: #535353;
}
#product{
    font-family: "Lato-Light",Helvetica,Arial,sans-serif;
    line-height: 1.4;
    color: #2e3337;
    font-weight: 300;
    text-transform: none;
}
#product input[type="button"]{
    cursor: pointer;
}
#product>div:first-child{
    display: flex;
    flex-direction: row;
    padding: 0 4%;
    gap: 4%;
    margin-bottom: 0;
}
#product>div:first-child>div:first-child{
    width: 67%;
    display: flex;
    flex-direction: column;
}
#product>div:first-child>div:first-child>div:last-child{
    background-color: #f8f8f8;
    padding: 20px 0em 15px 3em;
    width: 95%;
}
#product>div:first-child>div:first-child>div>div{
    display: flex;
    align-items: center;
}
#product>div:first-child>div:first-child>div:last-child>div>img{
    width: 50px;
    margin-right: 9%;
}
#product>div:first-child>div:first-child>div:last-child>div:nth-child(2)>img{
    width: 70px;
    margin-right: 4.6%;
}
#product hr{
    color: #999;
    margin-bottom: 0;
    width: 100%;
}
#product h2{
    font-size: 18px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
    margin-bottom: 5px;
}
#product>div:nth-child(2)>hr{
    width: 95%;
    margin-left: 0;
}
#product>div:nth-child(2){
    width: 64%;
    padding: 1% 4%;
    margin-top: -50px;
}
#product>div:nth-child(2) p,li{
    font-size: 14px;
    line-height: 1.4;
    color: #969696;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 12px;
}
#product>div:first-child>div:last-child h1{
    font-weight: 400;
    font-size: 36px;
    margin-top: 8px;
    margin-bottom: 10px;
    line-height: 1.2;
}
#product>div:first-child>div:first-child>div:first-child{
    display: flex;
}
#product>div:first-child>div:first-child>div:first-child>div:first-child{
    width: 9%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
#product>div:first-child>div:first-child>div:first-child>div:first-child>img{
    width: 100%;
    margin-left: 50px;
    margin-top: 5px;
    border: 1px solid black;
}
#product>div:first-child>div:first-child>div:first-child>div:last-child{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}
#product>div:first-child>div:first-child>div>div>img:first-child,#product>div:first-child>div:first-child>div>div>img:last-child{
    width: 4%;
}
#product>div:first-child>div:first-child>div>div>img:nth-child(2){
    width: 80%;
}
#product>div:first-child>div:last-child{
    width: 33%;
    display: flex;
    flex-direction: column;
}
#product>div:first-child>div:last-child hr+div{
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-bottom: 25px;
}
#product>div:first-child>div:last-child hr+div>div{
    display: flex;
    align-items: flex-end;
}
#product #qt{
    padding: 10px 15px;
    margin: 0;
    border: 1px solid #878787;
    border-radius: 0;
    max-width: 18px;
    text-decoration: none;
    height: 18.4px;
    text-align: center;
    border-left: none;
    border-right: none;
}
#product #plus,#product #minus{
    padding: 0px 17px;
    font-size: 25px;
    margin: 0;
    height: 40px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
}
#product #plus:hover,#product #minus:hover{
    background-color:#e1fffe;
}
#product>div:first-child>div:last-child>input{
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: white;
    border: none;
    font-size: 15px;
    margin-bottom: 1.5em;
}
#product>div:first-child>div:last-child>input:hover{
    color: #333;
    background-color: #28bdb7;
}
#product #wishlistIt{
    display: flex;
    gap: 5px;
    color: #2e3337;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 13.5px;
    width: 137px;
    padding: 10px 5px;
}
#product #wishlistIt:hover{
    background-color: #dbdbdb;
}
#product #wishlistIt>i{
    font-size: 20px;
}
#product #stock{
    margin-bottom: 15px;
    font-size: 13px;
}
#product #giftBtn{
    background: white;
    color: #6f6f6f;
    font-size: 14px;
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid #ba3d49;
}
#product #giftBtn+div>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#product #gift_image{
    width: 45%;
}
#product #gift_image+div>h3{
    font-size: 16px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
}
#product #gift-sec-title{
    font-size: 18px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
    padding-top: 4px 0;
    margin-top: 8px;
    margin-bottom: 8px;
}
#product #gift-desc{
    font-size: 14px;
    line-height: 1.4;
    color: #969696;
    font-weight: 300;
    margin: 16px 0;
    padding-bottom: 0;
}
#product #buy-gift{
    padding: 10px;
    font-size: 14px;
    background-color: white;
    color: #7f8a92;
    border: 1px solid black;
}
#product>div:last-child{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 1px solid #2e3337;
    margin-bottom: 16px;
    width: 70%;
    padding: 20px;
}
#product>div:last-child>div{
    font-size: 36px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
}
#product>div:last-child>p{
    font-size: 13px;
    line-height: 1.4;
    color: #363a3d;
    font-weight: 300;
    text-transform: none;
    max-width: 45%;
    margin-bottom: 16px;
}
#product>div:last-child>input{
    width: 35%;
    padding: 13px 10px;
    font-size: 14px;
    background-color: white;
    color: #363a3d;
    border: 1px solid black;
}
#product .popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    color: black;
    top: 0%;
    left: 55%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    padding: 0 30px 30px;
    transition: transform 0.4s, top 0.4s;
}
#product .open{
    visibility: visible;
    top: 75%;
    transform: translate(-50%,-50%) scale(1);
}
#product #desc,#ingredients,#directions{
    width: 97%;
}
@media only screen and (max-width: 935px){
    #product>div:first-child{
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        gap: 0;
    }
    #product>div:first-child>div:first-child{
        width: 95%;
    }
    #product>div:first-child>div:last-child{
        width: 95%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 3em;
    }
    #product #gift_image{
        width: 30%;
    }
    #product #buy-gift{
        width: 100%;
    }
    #product #price+hr+div{
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    #product>div:nth-child(2)>hr{
        width: 100%;
    }
    #product>div:nth-child(2){
        width: 95%;
        padding: 0;
        margin: auto;
        margin-bottom: 20px;
    }
    #product>div:nth-child(2)>h2::after{
        content: '\25be';
        float: right;
        transform: scale(1.7);
    }
    #product>div:nth-child(2)>.h2-active::after{
        content: '\25b4';
    }
    #product .pdesc{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }
    #product>div:last-child{
        width: 90%;
    }
}
#landingPage-container{
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 2%;
}