body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    width: auto;
  }
  #signup .icon>img{
    background-color: white;
    width:30px;
    height: 30px;
    gap: 4px;

  }
  #signup .ref{
    padding: 8px;
  }
  #signup .continue-buttons{
    /* max-width: 600px;
    background-color: black; */
    width: 700px;
    height: 40px;
    background-color: black; 
    color: white;
  }
  #signup .container {
    
    display: flex;
    max-width: 600px;
    /* width: 500px; */
    margin: 100px auto;
  }
  #signup .nav{
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* position: fixed; */
    /* height: 5%; */
    background-color: white;
    padding-top: 4px;
    padding-left: 55px;
    padding-bottom: 10px;
    margin-bottom: -60px;
  }
  
  #signup .box {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

 #signup  h1 {
    text-align: left;
    color: #333;
    margin-bottom: 70px;
    font-style:"Times New Roman", Times, serif;
  }
  
  #signup h2 {
    text-align: left;
    color: #333;
    margin-bottom: 30px;
  }

 #signup  h3 {
    text-align: left;
    color: #555;
    margin-top: 30px;
  }
  
  #signup .signup-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }
  
  #signup .signup-buttons button {
    padding: 10px;
    
    border-radius: 4px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    /* gap: 5px; */
    justify-content: flex-start;
    align-items: center;
    
  }
  
  #signup .signup-buttons button.facebook {
    /* background-color: #3b5998; */
    background-color:white;
    color: #fff;
    margin-right: 5px;
  }
  
  #signup .signup-buttons button.google {
    background-color:white;
    color: white;
    margin-left: 5px;
  }
  
  #signup .signup-buttons button .icon {
    margin-right: 5px;
    width: 250px;
    height: 30px;
    display: inline-block;
  }
  
  #signup .signup-form {
    margin-top: 20px;
  }
  
  #signup .signup-form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  
  #signup .signup-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #signup .signup-form input[type="text"],
  #signup .signup-form input[type="email"],
  #signup .signup-form input[type="password"],
  #signup .signup-form input[type="tel"] {
    width: 100%;
  }
  
  #signup .signup-form .line {
    margin: 20px 0;
    border-top: 1px solid #ccc;
  }
  #signup .continue-buttons{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
  }